.container{
    text-align: center;
    margin:auto;
    max-width: 100%;
    font-family:sans-serif;
}
.heading {
    color: rebeccapurple;
}
nav{
  width: 100%;
  background-color: rgb(172, 118, 216);
  margin-bottom: 20px;
}
.navCont{
  max-width: 500px;
  margin:auto;
}
.nav-links {
  text-align: center;
  padding-left: 0px;
  display: flex;
  list-style: none;
  background-color: rgb(172, 118, 216);
  margin:0 ;
}

.nav-link-item {
  padding-top:15px;
  padding-bottom:15px ;
  background-color: rgb(172, 118, 216);
}
.nav-link-text:hover{
  background-color: white;
  color: rgb(115, 22, 192);
  border:1px solid rgb(172, 118, 216);
}

.nav-link-text {
  height: 50px; 
  padding-left:25px;
  padding-right:25px;
  padding-top:13.5px;
  padding-bottom: 15px;
  color:white;
  text-decoration: none;
}

.site-title{
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding-top: 3.5rem;
  padding-left: 15px;
  padding-bottom: 10px;
  background:rgb(120, 51, 177);
}
.contenido,.heading{
  margin-top:20px;
  text-align: left !important;
  margin:auto;
  max-width: 700px;
}